<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>817014336416-cctrfa3euio63nsg8pcdf8g1f7ehhj7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817014336416-cctrfa3euio63nsg8pcdf8g1f7ehhj7b</string>
	<key>API_KEY</key>
	<string>AIzaSyCb7ml7086n_9Ffwz4Z4kBp-cwakkIyPY0</string>
	<key>GCM_SENDER_ID</key>
	<string>817014336416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ttin.playground</string>
	<key>PROJECT_ID</key>
	<string>weeklyhack-ff068</string>
	<key>STORAGE_BUCKET</key>
	<string>weeklyhack-ff068.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817014336416:ios:f90d179422070f8d</string>
	<key>DATABASE_URL</key>
	<string>https://weeklyhack-ff068.firebaseio.com</string>
</dict>
</plist>